.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  background-color: wheat !important;
}

button {
  margin: 0 5px;
}

ul > li:nth-child(1) > div > .my-btn-group > .btn-up {
  display: none;
}

ul > li:nth-last-child(2) > div > .my-btn-group > .btn-down {
  display: none;
}

li {
  list-style: none;
}
